@model List<Ciudad>
@{
    ViewBag.Title = "GetCiudades";
}

<style>
    .prueba {
    }
</style>
<script src="~/Views/CineV/CiudadCine.js"></script>

<div class="jumbotron">
    <h1>CineHitss</h1>
    <p class="lead">Technology Experience.</p>
    <p>Elige tu ciudad: </p>
    
    <select id="dCity">
    @foreach (var m in Model)
    {
        <option id= value=@m.Nombre>@m.Nombre</option>
    }
    </select>
    <p><input type="button" value="Buscar" onclick="getCity()"/></p>
</div>

