@model List<Ciudad>
@{
    ViewBag.Title = "GetCiudades";
}

<style>
    .prueba {
    }
</style>

<div class="jumbotron">
    <h1>CineHitss</h1>
    <p class="lead">Technology Experience.</p>
    <p>Elige tu ciudad: </p>
    <select>
    @foreach (var m in Model)
    {

        <option value=@m.Nombre>@m.Nombre</option>
    }
    </select>
    <p><input type="button" value="Buscar" /></p>
</div>

