<style>
    .prueba{
        
    }
</style>

<div class="jumbotron"  >
    <h1>BienvenidoASP.NET</h1>
    <p class="lead">Pueba.</p>
    <p>Elige tu ciudad: </p>
    <select>
        <option value="Ciudad">Ciudad</option>
    </select>
    <p>Elige tu cine</p>
    <select>
        <option value="Cine">Cine</option>
    </select>
    <p><input type="button" value="Buscar" /></p>
 </div>